In [5]:
from kaggle.api.kaggle_api_extended import KaggleApi

api = KaggleApi({"username":"luisdiaz9","key":"683a230e5ecead1e22bb67219591de1e"})
api.authenticate()
files = api.dataset_download_files('sudalairajkumar/cryptocurrencypricehistory')
#kaggle datasets download -d sudalairajkumar/cryptocurrencypricehistory
import kaggle as kg
kg.api.authenticate()
kg.api.dataset_download_files(dataset="sudalairajkumar/cryptocurrencypricehistory", unzip=False)

import pandas as pd
import zipfile

zf = zipfile.ZipFile('cryptocurrencypricehistory.zip') 
df = pd.read_csv(zf.open('ethereum_classic_price.csv'))




#df= df.set_index('Date')
df.head(5)

           Date   Open   High    Low  Close         Volume     Market Cap
0  Feb 20, 2018  39.41  43.96  38.23  38.47  1,175,890,000  3,940,010,000
1  Feb 19, 2018  34.69  40.26  33.93  39.29    992,256,000  3,467,860,000
2  Feb 18, 2018  35.01  35.08  31.52  34.88    456,829,000  3,498,390,000
3  Feb 17, 2018  34.97  35.40  34.38  34.99    418,534,000  3,493,650,000
4  Feb 16, 2018  34.43  35.34  32.90  35.03    456,754,000  3,439,180,000

In [4]:
df2 = pd.read_csv(zf.open('ethereum_price.csv'))
df2.head(5)

           Date    Open    High     Low   Close         Volume      Market Cap
0  Feb 20, 2018  943.57  965.26  892.95  895.37  2,545,260,000  92,206,500,000
1  Feb 19, 2018  921.67  957.78  921.55  943.87  2,169,020,000  90,047,700,000
2  Feb 18, 2018  973.35  982.93  915.45  923.92  2,567,290,000  95,077,100,000
3  Feb 17, 2018  944.75  976.60  940.75  974.12  2,525,720,000  92,264,000,000
4  Feb 16, 2018  934.79  950.00  917.85  944.21  2,369,450,000  91,272,100,000

In [ ]:
mer